/localhdd/hza214/spark-3.3.1-bin-hadoop2-ck/bin/spark-shell\
  --conf spark.serializer=org.apache.spark.serializer.JavaSerializer\
  --conf spark.sql.adaptive.enabled=true \
  --conf spark.sql.codegen.wholeStage=true \
  --conf spark.memory.offHeap.enabled=true \
  --conf spark.memory.offHeap.size=50g \
  --conf spark.driver.extraJavaOptions="-Dio.netty.tryReflectionSetAccessible=true"\
  --conf spark.executor.extraJavaOptions="-Dio.netty.tryReflectionSetAccessible=true"\
  --executor-cores 4\
  --conf spark.default.parallelism=4\
  --conf spark.sql.shuffle.partitions=4\
  --conf spark.driver.memoryOverhead=4g\
  --conf spark.executor.memory=140g\
  --conf spark.executor.memoryOverhead=8g\
  --driver-memory 10g